.idea/
wp-admin/
wp-includes/
wp-content/themes
wp-content/plugins/woocommerce
wp-content/uploads
wp-content/upgrade
wp-content/index.php
/.htaccess
/wp-content/plugins/index.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
wp-content/plugins/jetpack/
wp-content/plugins/woocommerce-admin
wp-content/plugins/woocommerce-services